
<h2>Demo</h2>

<ul id="lines">
</ul>

<form action="">
    <input id="m" autocomplete="off" /><button type="submit" >Send</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>


<script>
  var socket = io();
  $('form').submit(function(){
    socket.emit('msg', $('#m').val());
    $('#m').val('');
    return false;
  });
  
  socket.on('msg', function(msg){
     $('#lines').append("<li>" + msg + "</li>") 
  });
</script>